*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-size: var(--font-size-root);
}

:root {
    --font-size-root: 16px;
    --image-width: 29.5rem
}

main {
    display: grid;
    grid-template-columns: var(--image-width) 1fr;
    grid-template-areas: "image info";
}

.image {
    grid-area: image;
}
.product {
    grid-area: info;
}

