*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-size: var(--font-size-root);
}

:root {
    --font-size-root: 16px;
    --font-size-large: 2rem;
    --font-size-regular: 1rem;
    --font-size-small: 0.875rem;
    --image-width: 29.5rem; /*When rem = 16px, 29.5rem = 472px which is the width of the 2x image */
    --grid-gap: 3rem;
    --color-1: #000000;
    --color-2: #394150;
    --color-3: #652CD1;
    --color-4: #D2D5DA;
    --color-5: #F3F4F6;
    --color-6: #F9FAFB;
    --color-7: #FFFFFF;
}

main {
    display: grid;
    grid-template-columns: var(--image-width) 1fr; /*Width for image should be fixed to the width dimension of the image file when screen is big enough*/
    grid-template-areas: "image info";
    gap: var(--grid-gap);
    margin: clamp(1rem, 2vw, 2rem) auto;
    width: min(95%, 1600px);
}

.image {
    grid-area: image;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.image__picture, .image__img {
    width: 100%;
}

.navigation__list {
    display: flex;
    list-style: none;
}
.navigation__list__item:not(.home):before {
    content: "\00A0-\00A0";
}

.details {
    display: flex;
    
    background-color: var(--color-5);
    padding: 1rem;
    border-radius: 0.5rem;
}

/* MODULES */
img {
    display: block;
}

/* TYPOGRAPHY */
.name, .price {
    font-size: var(--font-size-large);
    font-weight: 600;
}
.description, .highlights {
    font-size: var(--font-size-regular);
}
.highlights__title {
    font-weight: 600;
}
.highlights__list__item {
    font-weight: 400;
}
.navigation__list__item {
    font-size: var(--font-size-small);
    font-weight: 500;
}
.navigation__list__item:last-of-type {
    font-weight: 300;
}
